<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link media="all" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link media="all" rel="stylesheet" th:href="@{/css/input_form.css}" type="text/css">

    <title>Contact us</title>
</head>
<body class="p-3 mb-2 bg-light text-black">

<div class="container">
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light mb-3" style="background-color: #cfe2e7;">
        <div class="container-fluid">
            <!-- LOGO -->
            <div>
                <a class="navbar-brand " href="#">
                    <img alt="Cloud Storage" class="d-inline-block align-top rounded-circle"
                         src="/img/logo/favicon.png">
                    Cloud Storage
                </a>
            </div>

            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">My profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/contact">Contact us</a>
                    </li>
                </ul>
                <div class="navbar-text mr-3">
                    Hello <span th:text="${user.getUserName()}"/>
                </div>
                <div class="navbar-text mr-3">
                    <form action="#" class="d-flex" method="POST" th:action="@{/logout}">
                        <button class="btn btn-outline-dark me-2" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>


    <div class="container input-form">
        <div class="contact-image">
            <img src="img/logo/rocket_contact.png" alt="rocket_contact"/>
        </div>
        <form action="#" method="POST" th:action="@{/contact}">
            <h3>Drop Us a Message</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Your Name *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="email" class="form-control" placeholder="Your Email *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="subject" class="form-control" placeholder="Your Subject *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <textarea name="message" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
</body>
</html>


