<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link media="all" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">

    <title>Edit user profile</title>
</head>
<body class="p-3 mb-2 bg-light text-black">

<div class="container">
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light mb-3" style="background-color: #cfe2e7;">
        <div class="container-fluid">
            <!-- LOGO -->
            <div>
                <a class="navbar-brand " href="#">
                    <img alt="Cloud Storage" class="d-inline-block align-top rounded-circle"
                         src="/img/logo/favicon.png">
                    Cloud Storage
                </a>
            </div>

            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/profile">My profile</a>
                    </li>
                </ul>
                <div class="navbar-text mr-3">
                    Hello <span th:text="${user.getUserName()}"/>
                </div>
                <div class="navbar-text mr-3">
                    <form action="#" class="d-flex" method="POST" th:action="@{/logout}">
                        <button class="btn btn-outline-dark me-2" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <div class="container mt-3 col-md-7">
        <h2>Edit your profile</h2>
        <div class="alert alert-success" role="alert" th:if="${profileSuccess}">
            <span th:text="${profileMessage}"></span>
        </div>
        <form action="#" method="POST" th:action="@{/profile}">
            <div class="row">
                <div class="col">
                    <label class="col-form-label" for="user-name">Username: </label>
                    <input class="form-control" id="user-name" name="userName" th:value="${user.getUserName()}" type="text" required>
                </div>
                <div class="col">
                    <label class="col-form-label" for="first-name">Fisrt name: </label>
                    <input class="form-control" id="first-name" name="firstName" th:value="${user.getFirstName()}" type="text" required>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="col-form-label" for="password">New password: </label>
                    <input class="form-control" id="password" name="password" type="password" required>
                </div>
                <div class="col">
                    <label class="col-form-label" for="last-name">Last name: </label>
                    <input class="form-control" id="last-name" name="lastName"  th:value="${user.getLastName()}" type="text" required>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6">
                    <label class="col-form-label" for="conf-pass">Confirm new password: </label>
                    <input class="form-control" id="conf-pass" name="confPass" type="password" placeholder="Under development" disabled>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3 col-md-6">
                    <label class="col-form-label" for="email">Email: </label>
                    <input class="form-control" id="email" name="email" type="email" placeholder="Under development" disabled>
                </div>
            </div>
            <div class="row col">
                <button class="btn btn-primary" type="submit">Confirm</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>


